.accept {
  // background-color: rgb(200, 200, 247);
  background: linear-gradient(to bottom, #1176ea 20%, #1575e3e3 50%);
  height: 100vh;
  width: 100%;
  display: flex;
}

form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-inline: 40px;
  align-items: flex-start;

  @media (max-width: 768px) {
    padding-inline: 16px;
  }
}

form input {
  width: 200px;
  margin: auto;
}
.btn {
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}
.image {
  width: 50%;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 451px) {
  .image {
    display: none;
  }
  .test {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
